body {
    background-color: cornflowerblue;
    text-align: center;
}

a {
    font-size: 30pt;
    text-decoration: none;
    color: black;
}

h1 {
    text-align: center;
}

.Solo2019 {
    border-radius: 10%;
    height: 15px;
    width: 15px;
}