body {
    background: radial-gradient(circle at top right, darkblue 17%, blue 25%, lightblue,skyblue);
    text-align: center;
    background-repeat: no-repeat;
    background-size: 100% 250%;
}

a {
    font-size: 30pt;
    text-decoration: none;
    color: black;
    padding-left: 10px;
    padding-right: 10px

}

a:hover {
    background-color: skyblue;
    border-radius: 15px;
    color: darkblue;
}

h1 {
    text-align: center;
}

.SoloPic {
    border-radius: 10%;
    max-height: 500px;
    max-width: 500px;
    float: left;
    margin-left: 50px;
    margin-top: 15px;
    margin-right: 50px;
    margin-bottom: 15px;
}

.name {
    font-size: 85px;
    color: white;
    margin-top: 2px;
    margin-bottom: 0px;
    font-family: 'Allura'; 
    text-align: right;
    margin-right: 20px;
    margin-left: auto;
}

hr {
    border: 3px solid black;
    border-radius: 5px;
}

.navbar {
    font-size: 20px;
    color: white;
    /* margin-right: 5px;
    margin-left: 5px; */
    margin-left:0px;
    margin-right:0px;

    transition: color 1s;
    transition: background-color 1s;
    transition: border-radius 1s;


}

nav {
    text-align: right;
    color:white;
    font-size: 20px;
    margin-left:0px;
    margin-right:0px;
    padding-left:0px;
    padding-right:0px;

}

.pBio {
    font-size: 25px;
    padding-left: 40px;
    padding-right: 40px;
    border: double 5px;
    border-radius: 10px;
    border-color: blue;
    margin-left: 500px;
    padding-top: 15px;
    padding-bottom: 15px;
    margin-right: 10px;
    background-color: slategray;
    color: white;
}

/* width */
::-webkit-scrollbar {
    width: 7.5px;
    background: linear-gradient(darkblue, blue, skyblue);
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: skyblue;
    border-radius: 20px;
    /* margin-top: 10px;
    margin-bottom: 10px; */
    }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: blue;
    border-radius: 10px;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: darkblue;
  }