body {
    background-color: cornflowerblue;
    text-align: center;
}

a {
    font-size: 30pt;
    text-decoration: none;
    color: black;
}

h1 {
    text-align: center;
}

.SoloPic {
    border-radius: 10%;
    max-height: 500px;
    max-width: 500px;
    float: left;
    margin-left: 50px;
}

.name {
    font-size: 100px;
    color: white;
    margin-top: 2px;
    margin-bottom: 2px;
    font-family: 'Allura'; 
    text-align: right;
    margin-right: 20px;
    margin-left: auto;
}

hr {
    border: 3px solid black;
    border-radius: 5px;
}

.navbar {
    font-size: 10px;
    color: white;
}