p {
    color: white;
    font-size: 25px;
    width: 60%;
    margin-left: auto;
    margin-right: auto;
}

video {
    width: 70%;
    vertical-align: middle;
    border-radius: 10px;
}
.buttonL {
    height: 100%;
    margin-top: 0px;
    position: absolute;
    left:15%;
    color:gray;
    background-color: transparent;
    border:none;
    font-size: 25px;
}
.buttonR {
    height: 100%;
    margin-top: 0px;
    position: absolute;
    right: 15%;
    color:gray;
    background-color: transparent;
    border:none;
    font-size: 25px;
    float: right;
}
div {
    position: relative;
    width: 70%;
    margin-right:auto;
    margin-left:auto;
}