.disc {
    width: 45%;
    font-size:  25px;
    color: white;
    text-align: center;
    margin-right:auto;
    display: inline-block;
    margin-top: 30px;
    padding-top: 50px;
}

.game {
    float: right;
    width: 45%;
    margin-top: 15px;
    margin-right:20px;
    border-radius: 5px;
    margin-bottom: 15px;
}

div {
    margin-top: 120px;
}