@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Pacifico&family=Satisfy&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@400..700&family=Indie+Flower&display=swap');


body {

  margin: 0;
  -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-color: #122157;
    color: #fff;
    font-family: Indie Flower, cursive;
    font-size: 22px;

    background-image:
    url('https://www.toptal.com/designers/subtlepatterns/uploads/ep_naturalblack.png');
  background-repeat: repeat;
  /* background-blend-mode: soft-light; */
    background-blend-mode: luminosity;
  background-size: 10%;
  opacity: 1;
  /* Animate the background */
  animation: backgroundMove 30s linear infinite;
}

/* Keyframes for slow horizontal + vertical movement */
@keyframes backgroundMove {
  0%   { background-position: 0 100px; }
  50%  { background-position: 50px 50px; } /* move right + down */
  100% { background-position: 100px 0px; }
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.header {
  display: flex;
  /* padding: 16px; */
  padding-bottom: 0px;
  flex-direction: column;
  justify-content: center;
  /* flex-wrap: wrap; */
  text-align: center;
  background-image: url("https://clipart-library.com/new_gallery/151-1514436_color-lines-transparent-line-light-png.png");
  background-repeat: no-repeat;
  background-size: 2200px 300px; 
  background-position: 50% 35%;
  /* height: 135px; */
  /* background-color: #121d47; */
  /* width: 850px; */
  margin: auto;

  color: white;

  font-family: "Indie Flower", cursive;

    height: 180px;
    margin-bottom: -16px;
    margin-top: -32px;

}


.headerName {
  font-size: 64px;
  /* margin-top: 16px; */
}

.naviationLinks {
  margin-left: auto;
  margin-right: 32px;
  display: flex;
  gap: 24px;
  justify-content: center;
  align-content: center;
  flex-wrap: wrap;
}

.tagLine { 
  color: white;
  /* margin-top: 28px;
  margin-bottom: 48px; */
  font-family: "Indie Flower", cursive;
  font-size: 18px;
}
.about {
  max-width: 1000px;
  padding: 16px;
  margin: 0 auto;
  display: flex;
  margin-bottom: 16px;
  /* text-align: center; */
  justify-content: center;
  align-items: center;
  flex-direction: column;

}

.headerLabel, .otterAdventuresContainer .label {
  text-align: center;
  text-decoration: underline;
  font-size: 32px;
  margin-bottom: 8px;
}
.otterAdventuresContainer {
  max-width: 800px;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 16px;

  border: solid 1px silver;
  border-radius: 10px;
  padding: 16px;

  margin-bottom: 16px;
  box-shadow: 0 0 10px 1px black;
  /* background-color: #45456770; */

  background-color: #2a4084;
}

.otterAdventures {
  width: 768px;
  height: 432px;
}


.dodgeCar {
  width: 768px;
  height: 432px;
}

.hiddenEmail {
  text-decoration: underline;
  cursor: pointer;
  display: contents;
}

.playGame img{
  width: 616px;
}

.game {
    
  /* width: 45%; */
  margin-top: 15px;
  border-radius: 5px;
  margin-bottom: 64px;
}

.dodgeCar, .otterAdventures {
  border: solid 2px black;
  border-radius: 6px;
}

.description {
   padding: 0 16px;
}


.showResume {
  cursor: pointer;
  margin-top: 16px;
  border: solid 1px silver;
  border-radius: 10px;
  padding: 8px 32px;
  background-color: #2a4084;
  box-shadow: 0 0 10px 1px black;
  margin-bottom: 8px;
}

.unityBadge {
  height: 200px;
  width: 200px;
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 0 10px 1px black;
  /* margin-top: 32px; */
  justify-self: center;
  align-self: center;
}

.firstSection, .secondSection {
  margin-bottom: 24px;
  width: 600px;
  padding: 0 64px;
}

.firstSection {
  text-align: center;
}

.secondSection {
  text-align: right;
}

.lastSection {
  text-align: center;
  margin-top: 8px;
  width: 520px;
}
.eduHeader {
  margin-top: 24px;
}

.ucuVideo {
  height: 250px;
  width: 400px;
  border-radius: 10px;
  box-shadow: 0 0 10px 1px black;
}

.ucuProof {
  display: flex;
  flex-direction: row;
  gap: 32px;
  padding: 16px 32px;
}

.educationTitle {
  text-align: center;
  text-decoration: underline;
  font-size: 28px;
  /* margin-bottom: 8px; */
}

.unityCertifiedUser {
  /* margin-top: 48px; */
}


.leftAndRight {
  display: flex;
  flex-direction: row;
  gap: 36px;
  justify-content: center;
  /* max-width: 900px; */
  margin: 0 64px;
}

.leftSide, .rightSide {
  display: flex;
  justify-content: center;
  align-content: center;
  flex-direction: column;
  flex-wrap: wrap;
}
.leftSide {
  text-align: center;
}

.rightSide {
  width: 35%;
}

@media (max-width: 1350px) {
  .leftAndRight {
    flex-wrap: wrap;
  }

  .ucuProof {
    flex-wrap: wrap;
    justify-content: center;
  }
}

/* .leftSide, .rightSide {
  width: 100%;
} */

.linkToDownload {
  color: white;
  cursor: pointer;
  font-size: 42px;
  margin: 16px auto;
  height: 64px;
}

.linkToDownload:hover {
  color: grey;
  font-size: 48px;
}

.disabled {
  cursor: not-allowed;
  color: grey;
  font-size: 42px;
  margin: 16px auto;
  height: 64px;
}

.aboutText {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  margin-top: 32px;
}

.projects {
  display: flex;
  gap: 0px 16px;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  flex-direction: column;
}

.projectsGrid {
  display: flex;
    align-items: self-start;
    gap: 16px;
    justify-content: center;
}

.oosImg {
 width: 616px;
}

.embedGame {
  border-radius: 10px;
  border: 1px solid silver;
    box-shadow: 0 0 10px 1px black;

}


.embla {
  overflow: hidden;
}
.embla__container {
  display: flex;
}
.embla__slide {
  flex: 0 0 100%;
  min-width: 0;
}

.videoSlider {
  /* height: 400px; */
  width: calc(100% - 128px);
  margin-bottom: 32px;
}

.slick-dots {
  width: calc(100% - 128px)!important;
  padding: 0 64px!important;
}

.slick-dots li button:before {
  font-size: 16px!important;
}
.slick-next:before, .slick-prev:before {
  font-size: 40px!important;
  color: #122157!important;
}

.deadlineHero {
  width: 100vw;
  background-color: black;
  /* box-shadow: black 0 0 20px 20px; */
  height: 500px;
  margin-bottom: 32px;
  position: relative;
  display: flex;
  justify-content: center;
}

.deadlineHero::after {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    bottom: -32px;
    height: 50px;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0));
    pointer-events: none;
}

.deadlineHero::before {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    top: -32px;
    height: 50px;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 1));
    pointer-events: none;
}

.deadlineHeroShot {
  background-size: contain;
  height: 100%;
  background-repeat: no-repeat;
  /* position: absolute; */
  top: 0;
  
  z-index: 0;

  justify-self: center;
  align-self: center;
}

.deadlineLogo {
  position: relative;
  height: 420px;
  z-index: 999;
  justify-self: center;
  align-self: center;
}

.heroText {
  z-index: 3;
  align-content: center;
  text-align: center;
  position: relative;

  background-image: url("../public/DeadlineHeroShot.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  width: 800px;
  margin-left: -180px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 64px;
  padding-top: 100px;
  text-shadow: black 0 0 10px;
}

.heroTextContainer {
  position: relative;
  display: flex;
}

.aboutSection {
  display: flex;
    flex-direction: row;
}

.downloadDemo {
  /* width: 400px;
  height: 100px; */
  padding: 16px 32px;
  background-color: #122157;
  border-radius: 10px;
  border: 1px solid silver;
    box-shadow: 0 0 10px 1px black;
    color: white;
  font-size: 24px;
  font-family: inherit;
    justify-self: center;
  align-self: center;

  cursor: pointer;
}


.downloadDemo:hover {
  box-shadow: 0 0 10px 1px white;
}